body {
	background-color: #E8EAF6;
	padding: 20px;
	font-family: "RobotoDraft", "Roboto", sans-serif;
}

h1 {
	font-weight: normal;
	font-family: "RobotoDraft", "Roboto", sans-serif;
	color: #3F51B5;
	margin-bottom: 5px;
}

.header, .footer {
	height: 10%
}

.footer {
	height: 5%
}

#historyPanel {
	display: block;
	width: 100%;
	height: 70%;
	overflow: auto;
}

#fixtureLinks {
	font-family: "RobotoDraft", "Roboto", sans-serif;
}

#detailsLabel {
	/*height: 100px;*/
	max-height: 100px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	width: 100%;
	margin-bottom: 5px;
}

.commit-id {
	font-size: 24px;
	font-weight: bold;
	color: #4D4D4D;
	margin-right: 15px;
}

.commit-details {
	font-size: 18px;
	color: #999999;
}